body{
    text-align: center;
    background: linear-gradient(to right, #ffdde1, #ee9ca7);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
}
.container{
    background:rgba(255,255,255,0.2);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
}
h1{
font-size: 52px;
text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

.slideshow{
    display: flex;
    justify-content: center;
    margin:20px 0;
}
.slideshow img{
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.5s ease;
}
video{
    width:350px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:15px
}
.final-section{
    margin-top: 40px;
}
.final-section img{
    width:350px;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    margin-top:40px;
}
.final-section p{
    font-size: 18px;
    margin-top: 15px;
    line-height: 1.5;
}
.balloons{
font-size: 40px;
margin-top: 10px;
animation:float 3s ease-in-out infinite;
}
@keyframes float{
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}
.confetti{
    position: fixed;
    top:-10px;
    font-size: 20px;
    animation: fall linear forwards;
    pointer-events: none;
}

@keyframes fall{
to{
    transform: translateY(100vh) rotate(360deg);
    opacity:0
}
}
.typing{
    font-size: 20px;
    margin-top: 10px;
    min-height: 30px;
}
.typing::after{
    content: "|";
    animation: blink 0.7s infinite;
}
@keyframes blink{
    50%{
        opacity:0
    }
}